@font-face {
    font-family: 'league';
    src: url('fonts/league.eot');
    src: url('fonts/league.eot?#iefix') format('embedded-opentype'),
         url('fonts/league.woff') format('woff'),
         url('fonts/league.ttf') format('truetype'),
         url('fonts/league.svg#LeagueGothicRegular') format('svg');
    font-weight: normal; font-style: normal;}
@font-face {
    font-family: 'droid';
    src: url('fonts/droid.eot');
    src: url('fonts/droid.eot?#iefix') format('embedded-opentype'),
         url('fonts/droid.woff') format('woff'),
         url('fonts/droid.ttf') format('truetype'),
         url('fonts/droid.svg#DroidSansRegular') format('svg');
    font-weight: normal; font-style: normal;}