@font-face {
    font-family: 'league';
    src: url('fonts/league.eot');
    src: url('fonts/league.eot?#iefix') format('embedded-opentype'),
         url('fonts/league.woff') format('woff'),
         url('fonts/league.ttf') format('truetype'),
         url('fonts/league.svg#LeagueGothicRegular') format('svg');
    font-weight: normal; font-style: normal !important}
@font-face {
    font-family: 'droid';
    src: url('fonts/droid.eot');
    src: url('fonts/droid.eot?#iefix') format('embedded-opentype'),
         url('fonts/droid.woff') format('woff'),
         url('fonts/droid.ttf') format('truetype'),
         url('fonts/droid.svg#DroidSansRegular') format('svg');
    font-weight: normal; font-style: normal !important}
@font-face {
    font-family: 'droid-bold';
    src: url('fonts/droid-bold.eot');
    src: url('fonts/droid-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/droid-bold.woff') format('woff'),
         url('fonts/droid-bold.ttf') format('truetype'),
         url('fonts/droid-bold.svg#DroidSansBold') format('svg');
    font-weight: normal; font-style: normal !important}
@font-face {
    font-family: 'veggie';
    src: url('fonts/veggie.eot');
    src: url('fonts/veggie.eot?#iefix') format('embedded-opentype'),
         url('fonts/veggie.woff') format('woff'),
         url('fonts/veggie.ttf') format('truetype'),
         url('fonts/veggie.svg#VeggieburgerRegular') format('svg');
    font-weight: normal; font-style: normal !important}